<div>
    <div>
        <h1 > Welcome To Swinny Vet Services </h1>
    </div>
    
<div>
    @Html.ActionLink("View Procedures List", "Index", "Procedures")<br />
    @Html.ActionLink("View Clients List", "Index", "Owners")<br/>
    @Html.ActionLink("View Pet List","Index","Pets")<br />
    @Html.ActionLink("View Treament List", "Index", "Treatments")
</div>

</div>